body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff1e6;
    height: 100vh;
    margin: 0;        
}

img {
    display: block;
    margin: 0 auto;
    width: 150px;
}
  

p {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #4d96ff;
    text-align: center;
    margin-top: 30px;
    animation: entrarSuave 2s ease forwards;
    opacity: 0;
}

@keyframes entrarSuave {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#add {
    margin: 5px;
    padding: 5px;
    background-color: #ffffff;
    border: 0.5px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    color:#7a7a7a;
}

#digite {
    margin: 5px;
    padding: 5px;
    width: 300px;
    border: none;
    border-radius: 8px;
}

#data {
    margin: 5px;
    padding: 5px;
    width: 110px;
    border: none;
    border-radius: 8px;
    color: #333533;
    cursor: pointer;
}

#Limpar {
    background-color: #fff1e6;
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    color:#333533;
}

.item-tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center; /* alinha vertical */
    padding: 6px 8px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
  
.item-tarefa input[type="checkbox"] {
    transform: scale(1.2);
    margin-left: 12px; /* espaço entre texto e checkbox */
    cursor: pointer;
}
  

